# Backend
backend/node_modules/
backend/package-lock.json
backend/.env

# Flutter
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/.pub-cache/
frontend/.pub/
frontend/build/
frontend/pubspec.lock

# Android
frontend/android/.gradle/
frontend/android/local.properties
frontend/android/app/build/
frontend/android/gradle/
frontend/android/gradlew
frontend/android/gradlew.bat
frontend/android/.idea/

# iOS
frontend/ios/Pods/
frontend/ios/.symlinks/
frontend/ios/Flutter/Flutter.framework
frontend/ios/Flutter/Flutter.podspec
frontend/ios/.generated/
frontend/ios/Runner.xcworkspace/

# IDE
.vscode/
.idea/
*.iml
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Misc
*.log
